.todo-list {
  .todo-button-wrapper {
    button {
      width: 100px;
      height: 40px;
      color: #fff;
      margin-left: 69px;
      background-color: #262626;
    }
  }
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 20px 40px;
    li {
      list-style: none;
      background-color: #fff;
      line-height: 40px;
      margin: 10px 0;
      padding-left: 10px;
    }
  }
}