.App {
  width: 400px;
  margin: 10px auto;
  background: #ccc;
  min-height: 100px;
  line-height: 100px;
  .button-wrapper {
    text-align: center;
    button {
      width: 100px;
      height: 40px;
      color: #fff;
      background-color: #3b8cff;
      margin: 0 30px;
    }
  }
}